<div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
  <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
    <div>
      <div class="flex items-center">
        <%= render "icons/hotseatlogotext_red", classes: "absolute w-522 h-150 left-101 top-340" %>
      </div>
      <div class="mt-20">
        <%# <%= render 'update_badge', link: 'https://blog.hotseat.io/posts/referrals/', title: 'Referrals', body: 'Win $50 for the most referrals by Feb 1!' %1> %>
        <div class="mt-6 sm:max-w-xl">
          <h1 class="text-4xl font-extrabold text-gray-900 dark:text-gray-50 tracking-tight sm:text-5xl">
            Make <span class="text-rose-500">informed</span> enrollment decisions
          </h1>
          <p class="mt-6 text-xl text-gray-500 dark:text-gray-400">
          UCLA enrollment trends, alerts, reviews, grades, textbooks and more. All on one website, completely free.
          </p>
        </div>
        <div class="mt-8 flex">
          <%= render "shared/google_log_in_button" %>
        </div>
      </div>
    </div>
  </div>

  <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
    <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <div class="hidden sm:block">
        <div class="absolute inset-y-0 left-1/2 w-screen bg-gray-50 dark:bg-gray-700 rounded-l-3xl lg:left-80 lg:right-0 lg:w-full"></div>
        <%= render "dots_pattern", height: 392, width: 404, classes: "absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0" %>
      </div>
      <div class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
        <picture>
          <source srcset="<%= asset_path "demo-screenshot-dark.png" %>" media="(prefers-color-scheme:dark)">
          <%= image_tag "demo-screenshot-light.png", class: "w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none" %>
        </picture>
      </div>
    </div>
  </div>
</div>
