<footer class="mt-8">
  <div class="max-w-7xl mx-auto pb-6 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= link_to 'FAQ', page_path('faq'), class: 'footer-link' %>
      </div>
      <div class="px-5 py-2">
        <%= link_to 'Blog', 'https://blog.hotseat.io', class: 'footer-link' %>
      </div>
      <div class="px-5 py-2">
        <%= link_to 'Support Us ❤️', 'https://buy.stripe.com/3csdR75snaw1cVOeUV', class: 'footer-link' %>
      </div>
      <div class="px-5 py-2">
        <%= link_to 'Terms', page_path('terms'), class: 'footer-link' %>
      </div>
      <div class="px-5 py-2">
        <%= link_to 'Privacy', page_path('privacy'), class: 'footer-link' %>
      </div>
    </nav>
    <div class="mt-2 flex justify-center space-x-6">
      <a href="https://www.facebook.com/hotseatio" class="footer-link">
        <span class="sr-only">Facebook</span>
        <%= render 'icons/facebook', classes: 'h-6 w-6' %>
      </a>
      <a href="https://www.instagram.com/hotseatio" class="footer-link">
        <span class="sr-only">Instagram</span>
        <%= render 'icons/instagram', classes: 'h-6 w-6' %>
      </a>
      <a href="https://twitter.com/hotseatio" class="footer-link">
        <span class="sr-only">Twitter</span>
        <%= render 'icons/twitter', classes: 'h-6 w-6' %>
      </a>
      <a href="https://github.com/hotseatio" class="footer-link">
        <span class="sr-only">GitHub</span>
        <%= render 'icons/github', classes: 'h-6 w-6' %>
      </a>
    </div>
    <p class="mt-2 text-center text-base text-gray-400 dark:text-gray-500">
      &copy; <%= Time.zone.now.year %> Hotseat Labs, LLC. All rights reserved.
    </p>
  </div>
</footer>
